[submodule "stacks/training-platform/repos/cloud"]
	path = stacks/training-platform/repos/cloud
	url = https://github.com/jrwroberts1976/cloud-platform.git
[submodule "stacks/training-platform/repos/azure"]
	path = stacks/training-platform/repos/azure
	url = https://github.com/jrwroberts1976/azure-training.git
[submodule "stacks/training-platform/training-content"]
	path = stacks/training-platform/training-content
	url = https://github.com/jrwroberts1976/basic-linux-training.git
[submodule "stacks/training-platform/repos/kubernetes"]
	path = stacks/training-platform/repos/kubernetes
	url = https://github.com/jrwroberts1976/kubernetes-homelab.git
[submodule "stacks/training-platform/repos/portfolio"]
	path = stacks/training-platform/repos/portfolio
	url = https://github.com/jrwroberts1976/engineering-learning-portfolio.git
[submodule "stacks/training-platform/repos/cv"]
	path = stacks/training-platform/repos/cv
	url = https://github.com/jrwroberts1976/james-roberts-cv.git
[submodule "stacks/training-platform/docs/courses/git"]
	path = stacks/training-platform/docs/courses/git
	url = https://github.com/jrwroberts1976/git-training
